*.DS_Store
.DS_Store
*.fls
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.bbl
*.blg
*.fdb_latexmk
*.synctex.gz
*.sublime-workspace